body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
.container {
    max-width: 900px;
    margin: 60px auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    position: relative;
    overflow: hidden;
}
.left-panel {
    background-color: #7289b5;
    color: white;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 1;
}
.right-panel {
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    background-color: #fff;
}
.overlay {
    background-color: #7289b5;
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    height: 100%;
    z-index: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.left-panel h1 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}
.left-panel p {
    font-size: 18px;
    font-weight: 500;
}
.form-group {
    margin-bottom: 20px;
}
.form-control {
    border-radius: 10px;
    padding: 10px 15px;
}
.btn-blue {
    background-color: #7289b5;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}
.btn-blue:hover {
    background-color: #7e95c1;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.sign-in-link {
    font-size: 14px;
}
.sign-in-link a {
    color: #6C63FF;
    text-decoration: none;
}
.sign-in-link a:hover {
    text-decoration: underline;
}
.password-wrapper {
    position: relative;
}
.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}